*{
    margin:0;
    padding:0;
}

.header{
 background-color: lightblue;
 text-align: center;
 color:white;
}

.header .menu a{
    color:white;
    text-decoration: none;
    margin-right:5px;

}


/* li{
    width:100px;
    height:100px;
    background-color: red;
} */